%h1 Listing categories

%table.table.table-bordered
  %thead
    %tr
      %th Name
      %th Action
  %tbody
    - categories.each do |category|
      %tr
        %td= category.name
        %td
          = link_to 'Add product', new_category_product_path(category), class: 'btn btn-sm btn-primary'
          = link_to 'Show products', category_products_path(category), class: 'btn btn-sm btn-primary'
          - if user_signed_in?
            - if current_user.admin?
              = link_to 'Edit', edit_category_path(category), class: 'btn btn-sm btn-primary'
              = link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-primary'

%br
- if user_signed_in?
  - if current_user.admin?
    = link_to 'New Category', new_category_path, class: 'btn btn-default'
= link_to 'Back', root_path, class: 'btn btn-primary'